<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Advanced Search</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Language</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu language_chooser">
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-circle-o"></i>All
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i>English
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i> French
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i> German
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Russian
                        </a>
                    </li>
                </ul>
            </li>

            <li style="" class="tweetDateRangePicker">
                <a>
                    <i class="fa fa-calendar"></i> <span>Date</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
